@model mtg.Models.RegistrationViewModel;

@{
    ViewData["Title"] = "Register Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Register</title>
</head>

<body class="gradient-background">
<div class="page-container text-center pt-xl-3 board">

    <h1 class="display-4">Register to create a new account</h1>
    <form class="form" asp-controller="Authentication" asp-action="Register" method="post">
        <input type="email" placeholder="Email" asp-for="Email"/>
        @Html.ValidationMessageFor(m => m.Email)
        <input type="password" placeholder="Password" asp-for="Password"/>
        @Html.ValidationMessageFor(m => m.Password)
        <input type="password" placeholder="Repeat Password" asp-for="RepeatedPassword">
        @Html.ValidationMessageFor(m => m.RepeatedPassword)

        <button type="submit">Register</button>
    </form>

    <a asp-area="" asp-controller="Authentication" asp-action="Login">Back to login</a>

</div>

</body>

</html>